Dear {{ name }},

You are invited to become a member of our website.

Use this code {{ uuid }} to accept this invitation.
Go to this link {{ website.url }}/auth to use the code.

If you need assistance, or you did not make this request, please contact our webmaster {{ website.email }} ?>.

Note: this invitation will expire within {{ expires }} hours.
