.pytest_cache
*.log
/backend/vagrant/kwai.development.yaml
/backend/vagrant/.vagrant/
/backend/kwai.toml
.ruff_cache
.mypy_cache
/backend/docs/kwai/
/backend/docs/tests/
/_site/
/backend/src/.venv/
/backend/src/.coverage
.turbo
dist
node_modules
public
