.pytest_cache
*.log
/backend/vagrant/development/kwai.yaml
/backend/vagrant/test/kwai.yaml
.vagrant/
/backend/kwai.toml
.ruff_cache
.mypy_cache
/_site/
/backend/src/.venv/
/backend/src/.coverage
dist
node_modules
public
.idea
/frontend/apps/portal/src/config.toml
*.pyc
*.code-workspace
__pycache__
.env
.env.*
/backend/.vscode/
*.coverage
/frontend/apps/portal/images/*.jpg
*.tsbuildinfo
stats.html
/backend/.venv/
/frontend/packages/kwai-config/src/config.production.toml
.task
/frontend/.env.test
/backend/db/schema.sql
