.pytest_cache
*.log
/backend/vagrant/kwai.development.yaml
/backend/vagrant/.vagrant/
/backend/kwai.toml
.ruff_cache
.mypy_cache
/backend/docs/_build/
/backend/docs/_static/
/backend/docs/_templates/
