Beste {{ name }},

U bent uitgenodigd om lid te worden van onze website.

Gebruik de code {{ uuid }} om deze uitnodiging te aanvaarden.
Bezoek deze link {{ website.url }}/auth om de code te gebruiken.

Wanneer u hulp nodig heeft, of u heeft dit verzoek niet gevraagd, gelieve dan onze webmaster te contacteren
via e-mail {{ website.email }}.

Opgelet: deze uitnodiging blijft maar {{ expires }} uren geldig.
