Beste {{ name }},

Wij hebben een aanvraag voor het wijzigen van uw paswoord ontvangen.

Gebruik de code {{ uuid }} om uw paswoord te wijzigen.

Heeft u hulp nodig, of is deze aanvraag niet van u, gelieve dan onze webmaster te contacteren via e-mail {{ website.email }}.

Opgelet: Deze code blijft maar {{ expires }} uren geldig.
