<!DOCTYPE html>
{% do vite.init("src/index.ts") %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portal</title>
        {% for preload in vite.generate_preloads() %}
            {{ preload | safe }}
        {% endfor %}
        {% for css in vite.generate_css() %}
            {{ css | safe }}
        {% endfor %}
    </head>
    <body>
        <div id="app">
        </div>
        {% for js in vite.generate_scripts() %}
            {{ js | safe }}
        {%  endfor %}
    </body>
</html>
